.cards {
    height: 100vh;
    background: rgb(103, 221, 205);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(220, 255, 196), rgb(103, 221, 205));  
    background: linear-gradient(to bottom, rgb(220, 255, 196), rgb(103, 221, 205)); 
    float:left;
    width:100%;
    padding: 50px 50px;
}

.row {
    padding: 30px 20px;
}
.container {
    background:#fff; 
    border-radius: 10px; 
    box-shadow:5px 10px 0px rgba(0, 109, 73, 0.123);
}
.content {
    padding: 20px 30px; 
    position:relative;
}
.content h3 {
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: rgb(103, 221, 205);
}
.btn-view{
    background: rgb(103, 221, 205); 
    color:#fff; 
    font-weight:600;
    float: center;
}