html, body {
    background: rgb(103, 221, 205);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, rgb(220, 255, 196), rgb(103, 221, 205) 400px);  
    background: linear-gradient(to bottom, rgb(220, 255, 196), rgb(103, 221, 205) 400px); 
    min-height: 100%;
}
.row {
    padding: 30px 20px;
}
.container {
    background:#fff; 
    border-radius: 10px; 
    box-shadow:5px 10px 0px rgba(0, 109, 73, 0.123);
}
.content {
    padding: 20px 30px; 
    position:relative;
}
.content h3 {
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: rgb(103, 221, 205);
}
.nav {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
.btn-view{
    font-weight:600;
    float: center;
    color: rgb(103, 221, 205)
}
.card-columns {
    column-count: 4;
}
.card {
    padding: 10px; 
    box-shadow:5px 10px 0px rgba(0, 109, 73, 0.123);
}
#title {
    margin-bottom:30px; 
    font-weight:800; 
    font-size:30px; 
    color: rgb(103, 221, 205);
    border: 1px rgba(127,127,127,0.4) inset;
    background: rgba(255,255,255,0.4);
    padding: 2px;
}
#description {
    margin-bottom:20px; 
    font-weight:400; 
    font-size:12px; 
    color: rgb(115, 183, 158);
    border: 1px rgba(127,127,127,0.2) inset;
    background: rgba(255,255,255,0.2);
    padding: 2px;
}
/* Make the default project invisible if there are other projects */
#defaultLeaf:not(:only-child) {
    display: none;
}
